// esp32/credentials.h.example

#pragma once

// WiFi
#define WIFI_SSID     "your_wifi_ssid"
#define WIFI_PASSWORD "your_wifi_password"

// MQTT
#define MQTT_SERVER "your_broker_url"
#define MQTT_PORT   8883
#define MQTT_USER   "your_mqtt_user"
#define MQTT_PASS   "your_mqtt_password"
#define MQTT_TOPIC  "deprem/tespit"

